<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VidChat</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <!-- font awesome --> 
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <script src="/socket.io/socket.io.js"></script>  
    <script src="https://unpkg.com/peerjs@1.4.7/dist/peerjs.min.js"></script>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script>
        const ROOM_ID = "<%= roomId %>"
    </script>
</head>
<body>

    <div class="main">
        <div class="main_left">
            <div class="main_video">
                <div id="video-grid">

                </div>
            </div>
            <div class="main_controls">
                <div class="control_blocks">
                    <div onclick="muteUnmute()" class="mute_button control_button">
                        <i class="fas fa-microphone"></i>
                        <span>Mute</span>
                    </div>
                    <div onclick="playStop()" class="video_button control_button">
                        <i class="fas fa-video"></i>
                        <span>Stop Video</span>
                    </div>
                </div>
                <div class="control_blocks">
                    <div class="control_button">
                        <i class="fas fa-shield-alt"></i>
                        <span>Security</span>
                    </div>
                    <div class="control_button">
                        <i class="fas fa-user-friends"></i>
                        <span>Participants</span>
                    </div>
                    <div class="control_button">
                        <i class="fas fa-comment-alt"></i>
                        <span>Chat</span>
                    </div>
                </div>
                <div class="control_blocks" id="leave">
                    <div class="control_button">
                        <i class="fas fa-shield-alt"></i>
                        <span class="leave">Leave Meeting</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="main_right">
            <div class="main_header">
                <h5>Chat</h5>
            </div>
            <div class="chat_window">
                <ul class="messages">

                </ul>
            </div>
            <div class="message_container">
                <input type="text" id="chat_message" placeholder="type message ...">
            </div>
        </div>
    </div>

    <script src="js/script.js"></script>
</body>
</html>